extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Gaurav Kumar

        p Associate Software Developer


        .about-bio

          p Hello! I'm Gaurav Kumar, a web developer passionate about creating websites that are both visually engaging and easy to navigate. My focus is on writing clean, efficient code and designing intuitive user experiences that bring value to users. I enjoy turning complex ideas into seamless web solutions that feel effortless to use. Let’s work together to make the web a better, more enjoyable place!


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li React
          li Accessibility
          li OOP
          li Node.js
          li Express

        h6 Contact Info

        ul
          li 7003382093
          li gauravkmadhubani@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='') LinkedIn
        a.btn-link(href='') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back